
body {
  background-color: black;
}

.first-square, .second-square, .third-square, .fourth-square, .black-square {
  width: 15px;
  height: 100px;
  display: inline-block;
  position: relative;
  top: 100px
}

.first-square {
  visibility: hidden;
  background-color: gray;
  transition: transform 4s;
  transition-timing-function: ease-in-out;
  -webkit-animation: move 1s linear;
  -webkit-animation-delay: 1.75s;
  animation-fill-mode: forwards;
  }

.second-square {
  visibility: hidden;
  background-color: red;
  transition: transform 4s;
  transition-delay: .5s;
  transition-timing-function: ease-in-out;
  -webkit-animation: move 1s linear;
  -webkit-animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.third-square {
  visibility: hidden;
  background-color: #FFE5B0;
  transition: transform 4s;
  transition-delay: 4s;
  transition-timing-function: ease-in-out;
  -webkit-animation: move 1s linear;
  -webkit-animation-delay: 1.25s;
  animation-fill-mode: forwards
}

.fourth-square {
  visibility: hidden;
  background-color: #998B2C;
  transition: transform 4s;
  transition-delay: 1.5s;
  transition-timing-function: ease-in-out;
  -webkit-animation: move 1s linear;
  -webkit-animation-delay: 1s;
  animation-fill-mode: forwards;
}

p {
  font-family: 'Muli', sans-serif;
}

.first-square:hover {
  background-color: blue;
}

@keyframes move {
  0% {left: 0px; background-color: gray}
  100% {left: 1000px; visibility: visible; width: 50px}
}
