body {
  background-color: black;
}

.first-square, .second-square, .third-square, .fourth-square, .black-square {
  width: 245px;
  height: 245px;
  display: inline-block;
}

.first-square {
  background-color: #79C6CC;
  transition: transform 4s;
  transition-timing-function: ease-in;
}

.second-square {
  background-color: #70CFFF;
  transition: transform 4s;
  transition-delay: .5s;
  transition-timing-function: ease-in;
}

.third-square {
  background-color: #FFE5B0;
  transition: transform 4s;
  transition-delay: 1s;
  transition-timing-function: ease-in;
}

.fourth-square {
  background-color: #998B2C;
  transition: transform 4s;
  transition-delay: 1.5s;
  transition-timing-function: ease-in;
}

p {
  font-family: 'Muli', sans-serif;
}
